/**
アクセス統計
*/

table.access-count
{
	table-layout: fixed;
	width: 100%;
}

table.access-count td.title
{
	word-break: break-all;
}
table.access-count *.total td
{
	text-align: center;
}
table.access-count *.count, table.access-count *.percent
{
	width: 15%;
	padding-right: 1ex;
}
table.access-count th.count, table.access-count th.percent
{
	text-align: center;
}
table.access-count td.count, table.access-count td.percent
{
	text-align: right;
}

