/**
ブログ。
*/


/* TAG */
ul.tags
{
	list-style: none;
	display: inline;
	padding-left: 0;
}
ul.tags li
{
	display: inline;
	font-size: 70%;
}
ul.tags li:before
{
	content: "[";
}
ul.tags li:after
{
	content: "]";
}

/* 過去未来 */
*.blog ul.blog-move
{
	list-style: none;
	text-align: center;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
*.blog *.blog-move li
{
	width: 30%;
	display: inline-block;
}
*.blog *.blog-move li a
{
	display: block;
	margin: 0;
	padding: 0;
}
*.blog *.blog-move li.future a:before
{
	content: '← ';
}
*.blog *.blog-move li.old a:after
{
	content: ' →';
}



/**
編集用
*/

#targetTags
{
	width: 70%;
}

*.blog-edit ul.blog-all-tags
{
	list-style: none;
}
*.blog-edit ul.blog-all-tags li
{
	font-size: 80%;
	display: inline;
}


