/**
完全共通スタイルシート。
*/


html, body
{
	background: #ffe;
	color: #111;
}

/**
隠し項目グルーピング。
*/
*.params
{
	display: none;
}

/**
横並びリスト。
*/
ul.inline, ol.inline
{
	padding: 0;
	list-style: none;
}
ul.inline > li, ol.inline > li
{
	display: inline;
}

*.hide
{
	display: none;
}

