/**
スタイルシート共通。
*/

html
{
	margin: 0;
	padding: 0;
}
body
{
	margin: 0;
	padding: 2em 1em 2em 2.5em;
}


body, input, textarea, select, th, td, nav h5
{
	/*
	font: normal normal 12.5pt/125% 'M+1VM+IPAG circle', 'M+2VM+IPAG circle', 'Bitstream Vera Sans Mono', 'Lucida Console', 'Courier New', 'ＭＳ ゴシック', monospace;
	*/
	font: normal normal 12.5pt/125% 'Bitstream Vera Sans Mono', 'Lucida Console', 'Courier New', 'Meiryo UI', 'メイリオ', 'ＭＳ ゴシック', monospace !important;
}

input, textarea
{
	font-size: 11pt !important;
	line-height: 1.4em !important;
}

/*
リンク系
*/
/* リンク自身, 未訪問 */
a, a:link
{
	color: #00f;
	font-style: normal;
	text-decoration: none;
	border-bottom: 1px dotted #00f;
}
/* 訪問済み */
a:visited
{
	color: #846;
	border-bottom: 1px dashed  #846;
}
/* ホバー */
a:hover
{
	color: #c00;
	border-bottom: 1px solid #c00;
}
/* クリック！ */
a:active
{
	color: #f00;
	border-bottom: 1px solid #f00;
}
/* 外部リンク */
a[href^="http"]:after
{
	content: '[⇗]';
}
/* 強制ウィンドウ */
a[target="_blank"]:after
{
	content: '[❏]';
}

/* イベント要素 */
*.event
{
	display: inline-block;
	font-size: 90%;
	
	margin: 2px;
	padding: 1px 1ex;
	border-radius: 8px;

	font-weight: bold;
	color: #640;
	background-image: -moz-linear-gradient(top, #ff9, #cc3); /* Fxの表示がきもかった */
	background-image: -ms-linear-gradient(top, #ff9, #cc3);
	background-image: -o-linear-gradient(top, #ff9, #cc3);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ff9), to(#cc3));
	
	cursor: crosshair;
}
*.event:hover
{
	box-shadow:rgba(200, 200, 200, 1) 0px 0px 2px 3px;
}
*.event:active
{
	color: #c40;
	text-shadow: 1px 1px 2px #fff;
}

/*
共通: 固有
*/
/* ヘッダー */
#header
{
	/* 特に予定なし */
}

*.contents
{
	float: left;
	width: 74%;
}



/* ナビゲーター */
#navi
{
	float: right;
	width: 24%;
}
nav li img
{
	width: 24px;
	height: 24px;
}
nav li
{
	min-height: 24px;
}
nav ul.common, nav ul.admin
{
	list-style: none;
	padding-left: 0;
}

nav h5
{
	margin: 0;
	padding-left: 0;
	border-style: none;
	font-weight: normal;
	font-size: 90%;
}

/* フッター */
#footer
{
	clear: both;
	padding-top: 2ex;
}
#footer ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 70%;
}
#footer ul li
{
	display: inline;
}
#footer *.license
{
	font-size: 75%;
}
/* 章 */
h1, h2, h3, h4, h5, h6, dt
{
	line-height: 1.1em;
	font-family: "HiraKakuProN-W6", "ヒラギノ角ゴ ProN W6",  'Meiryo UI', 'メイリオ', sans-serif;
}
h1
{
	font-size: 28pt;
	transform: rotate(-1.5deg);
	border-bottom: 6px double #c88;
	padding: 0.25ex 1em;
	color: #400;
	margin: 0 -1.25em 1em -1.5em;

	background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0, rgb(255, 255, 255)),color-stop(1, rgb(238, 186, 0)));
	background-image: -moz-linear-gradient(-90deg,rgb(255, 255, 255) 0%,rgb(238, 186, 0) 100%);
	background-image: linear-gradient(-90deg,rgb(255, 255, 255) 0%,rgb(238, 186, 0) 100%);
	-webkit-box-shadow: 0px 0px 2px rgb(51, 51, 51);
	-moz-box-shadow: 0px 0px 2px rgb(51, 51, 51);
	-ms-box-shadow: 0px 0px 2px rgb(51, 51, 51);
	box-shadow: 0px 0px 2px rgb(51, 51, 51);
	text-shadow: 1px 1px 0px rgba(255,255,255,0.6);
}
h2
{
	font-size: 18pt;
	margin-left: -0.5em;
	padding: 0.5em 1em;
	color: #420;
	text-shadow: 1px 1px 2px #ddd;

	/* http://www.css3.me/ */
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
	-moz-box-shadow: 0px -2px 2px #885533;
	-webkit-box-shadow: 0px -2px 2px #885533;
	box-shadow: 0px -2px 2px #885533;
	filter: progid:DXImageTransform.Microsoft.Shadow(strength = 0, direction = 0, color = '#885533');
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 0, Direction = 0, Color = '#885533')";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff8800', endColorstr = 'transparent');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff8800', endColorstr = 'transparent')";
	background-image: -moz-linear-gradient(top, #ff8800, #ffe); /* Fxの表示がきもかった */
	background-image: -ms-linear-gradient(top, #ff8800, transparent);
	background-image: -o-linear-gradient(top, #ff8800, transparent);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ff8800), to(transparent));
	background-image: -webkit-linear-gradient(top, #ff8800, transparent);
	background-image: linear-gradient(top, #ff8800, transparent);
	opacity: 0.8;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 80);
	filter: alpha(opacity = 80);
}


/* http://www.css3.me/ */
h3
{
	font-size: 16pt;
	padding: 0.5em;
	margin-left: -1ex;
	color: #fff;
	text-shadow: 1px 1px 1px #222;
	
	/* http://www.css3.me/ */
	-moz-border-radius: 10px 0px 0px;
	-webkit-border-radius: 10px 0px 0px 0px;
	border-radius: 10px 0px 0px;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = '#fa5', endColorstr = 'transparent');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = '#fa5', endColorstr = 'transparent')";
	background-image: -moz-linear-gradient(left, #fa5, #ffe); /* Fxの表示がきもかった */
	background-image: -ms-linear-gradient(left, #fa5, transparent);
	background-image: -o-linear-gradient(left, #fa5, transparent);
	background-image: -webkit-gradient(linear, left top, right top, from(#fa5), to(transparent));
	background-image: -webkit-linear-gradient(left, #fa5, transparent);
	background-image: linear-gradient(left, #fa5, transparent);
}

h4
{
	margin-left: -0.8ex;
	border-left: 3px double #fa2;
	border-top: 2px dashed #fa2;
	border-bottom: 2px dashed #fa2;
	padding: 0.5ex 0.5em;
	width: 90%;
	font-weight: bold;
	font-size: 14pt;
}

h5, h6
{
	margin-left: -0.8ex;
	border-bottom: 2px dotted #fa2;
	padding: 0.5ex 0.5em;
	font-size: 12.5pt;
}
h5
{
	width: 80%;
	font-weight: bold;
}
h6
{
	width: 70%;
	font-weight: normal;
}



/* 記事見出し */
h2.title time, h2.title strong, h3.title time, h3.title strong
{
	display: block;
}
h2.title time, h3.title time
{
	font-size: 60%;
	font-weight: normal;
	float: right;
}
h2.title strong, h3.title strong
{
	font-weight: bold;
}
/* 記事リンク */
a.title time, a.title strong
{
	display: inline;
}
a.title time
{
	font-size: 60%;
	font-weight: normal;
}
a.title strong
{
	font-weight: bold;
}

/* テーブル */
table
{
	margin: 1ex;
	border: 2px solid #884;
}

th, td
{
	border: 1px solid #884;
	padding-left: 0.5ex;
	padding-right: 0.5ex;
	font-size: 90%;
	text-align: left;
}
th
{
	text-align: center;
	color: #ffa;
	background: #220;
}
td.number, th.number
{
	text-align: right;
}

/* リスト */
dl, ul, ul
{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 1ex;
	padding-bottom: 1ex;
}
dt
{
	border-left: 1em solid #fa0;
	padding-left: 1em;
	padding-top: 0.5ex;
	padding-bottom: 0.5ex;
	width: 70%;
	
	line-height: 150%;
	font-weight: bold;
	color: #420;
	background: #ffa;
	clear: both;
}
dd
{
	margin-left: 1em;
	border-left: 2px dotted #fa0;
	padding-left: 1em;
	clear: both;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

ul.submit
{
	list-style: none;
}
ul.submit li
{
	display: inline;
}


img
{
	vertical-align: middle;
}

/* switch */
*.switch-on
{
}

*.switch-off
{
}

