/**
スタイルシート共通。
*/


body, input, textarea, select, th, td, nav h5
{
	font: normal normal 12.5pt/125% monospace !important;
}

/* 章 */
h1, h2, h3, h4, h5, h6, dt
{
	line-height: 1.1em;
	font-family: sans-serif;
}

h1
{
}

h2
{
}

h3
{
}

h4
{
}

h5, h6
{
}

h5
{
}

h6
{
}

/* 記事見出し */
h2.title time, h2.title strong, h3.title time, h3.title strong
{
	display: block;
}
h2.title time, h3.title time
{
	font-size: 60%;
	font-weight: normal;
	float: right;
}
h2.title strong, h3.title strong
{
	font-weight: bold;
}
/* 記事リンク */
a.title time, a.title strong
{
	display: inline;
}
a.title time
{
	font-size: 60%;
	font-weight: normal;
}
a.title strong
{
	font-weight: bold;
}

/* テーブル */
table
{
	margin: 1ex;
	border: 2px solid #884;
}

th, td
{
	border: 1px solid #884;
	padding-left: 0.5ex;
	padding-right: 0.5ex;
	font-size: 90%;
	text-align: left;
}
th
{
	text-align: center;
	color: #ffa;
	background: #220;
}
td.number, th.number
{
	text-align: right;
}

/* switch */
*.switch-on
{
}

*.switch-off
{
}


/* スマホ用メニュー */
ul.menu
{
	list-style: none;
	padding: 0;
}

ul.menu li:first-child
{
	border-top: 1px solid #440;
}
ul.menu li
{
	border-bottom: 1px solid #440;
	line-height: 2em;
}

ul.menu a
{
	display: block;
	padding: 4px 1em;
}


