/**
markdownエディタ
*/

/**
表示共通
*/
*.markdown-viewer
{
}
*.markdown-viewer em
{
	font-style: italic;
}
*.markdown-viewer strong
{
	font-weight: bold;
}


*.markdown-viewer pre, *.markdown-viewer *.syntaxhighlighter
{
	padding: 1ex;
	border: 3px double #242;
	border-radius: 1ex;
	color: #eee;
	background: #111;
	width: 95% !important;
}
*.markdown-viewer *.syntaxhighlighter textarea
{
	color: #111;
	background: #ddd;
}

*.markdown-viewer blockquote
{
	font-size: 90%;
	padding: 2em 2em 1ex 2em;
	border-radius: 1ex;
	border: 3px solid #424;
	margin: 1em 0;
	position:relative;
	z-index:1;
}

*.markdown-viewer blockquote:before, *.markdown-viewer blockquote:after
{
	font-size: 600%;
	line-height: 1em;
	color: #ddd;
	position: absolute;
	z-index: -1;
}
*.markdown-viewer blockquote:before
{
	content: "“";
	left: 0;
	top: 0.2ex;
}
*.markdown-viewer blockquote:after
{
	content: "”";
	right: 0;
	bottom: -0.5em;
}
*.markdown-viewer img
{
	width: 120px;
	height: 160px;
}

*.markdown-viewer del
{
}

*.markdown-viewer table *.left
{
	text-align: left;
}
*.markdown-viewer table *.center
{
	text-align: center;
}
*.markdown-viewer table *.right
{
	text-align: right;
}

