/**
markdownエディタ
*/

*.markdown
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}

*.markdown *.editor, *.markdown *.preview
{
	display: inline-block;
	margin: 0;
	padding: 0;
	height: auto;
	vertical-align: top;
}
*.markdown *.editor
{
	width: 45%;
}

*.markdown *.editor textarea, *.markdown *.preview
{
	width: 50%;
	min-height: 20em;
}

*.markdown *.editor textarea
{
	height: 95%;
	width: 95%;
	color: #000;
	background: #fff;
}

*.markdown *.preview *.markdown-viewer
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	margin-right: 1em;
	font-size: 11.5pt;
}


/* ---------------------- */

#targetTitle
{
	width: 45%;
}

/* ---------------------- */

*.cheatsheet
{
	width: 100%;
}

*.cheatsheet th, *.cheatsheet td
{
	width: 50%;
	vertical-align: top;
}
*.cheatsheet ul
{
	list-style: normal;
}
*.cheatsheet li
{
	display: list-item !important;
}

/* ---------------------- */

*.preview
{
	width: 100%;
}
*.preview iframe
{
	width: 100%;
	min-height: 300px;
}

*.preview *.mask
{
	position: absolute;
	z-index: 100;
	background: #ffa;
}
*.preview *.mask p
{
	font-size: 20pt;
	padding: 1em;
	color: #440;
}

/* ---------------------- */

/* pagedown から改修 */
.wmd-button-bar 
{
	width: 100%;
	background-color: #eee; 
}

.wmd-button-row 
{
	position: relative; 
	margin: 2px;
	padding: 2px;  
	height: 20px;
}

.wmd-spacer
{
	width: 1px; 
	height: 20px; 
	margin-left: 14px;
	
	position: absolute;
	background-color: Silver;
	display: inline-block; 
	list-style: none;
}

.wmd-button {
	width: 20px;
	height: 20px;
	padding-left: 2px;
	padding-right: 3px;
	position: absolute;
	display: inline-block;
	list-style: none;
	cursor: pointer;
}

.wmd-button > span {
	background-image: url("/third-party/pagedown/wmd-buttons.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.wmd-spacer1
{
	left: 50px;
}
.wmd-spacer2
{
	left: 175px;
}
.wmd-spacer3
{
	left: 300px;
}




.wmd-prompt-background
{
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}

